{% set apache = parameters.services.apache %}
{% set php = parameters.services.php %}

Mutex file:${APACHE_LOCK_DIR} default
PidFile ${APACHE_PID_FILE}
Timeout {{ APACHE_TIMEOUT }}
KeepAlive {{ APACHE_KEEPALIVE }}
MaxKeepAliveRequests {{ KEEPALIVE_MAX_REQUESTS }}
KeepAliveTimeout {{ KEEPALIVE_TIMEOUT }}
User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}
HostnameLookups Off
ErrorLog {{ APACHE_ERRORLOG_PATH|default("/dev/stderr") }}
LogLevel warn

{% if 'event' in apache.workers.mpm %}
<IfModule mpm_event_module>
	StartServers			 {{ APACHE_START_SERVERS }}
	MinSpareThreads		 {{ APACHE_MIN_SPARE_THREADS }}
	MaxSpareThreads		 {{ APACHE_MAX_SPARE_THREADS }}
	ThreadLimit			 {{ APACHE_THREAD_LIMIT }}
	ThreadsPerChild		 {{ APACHE_THREADS_PER_CHILD }}
	MaxRequestWorkers	  {{ APACHE_MAX_REQUEST_WORKERS }}
	MaxConnectionsPerChild   {{ APACHE_MAX_CONNECTIONS_PER_CHILD }}
</IfModule>
{% endif %}

{% if '2.2' in apache.version %}
LoadModule access_compat_module /usr/lib/apache2/modules/mod_access_compat.so
{% endif %}

{% if 'fpm' in php


IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf
Include ports.conf
<Directory />
	Options FollowSymLinks
{%- if '2.2' in apache.version %}
        AllowOverride All
        Require all granted
{%- else %}
	AllowOverride None
	Require all granted
{%- endif %}
</Directory>
<Directory /usr/share>
	AllowOverride None
	Require all granted
</Directory>
<Directory /var/www/>
	Options Indexes FollowSymLinks
</Directory>
AccessFileName .htaccess
<FilesMatch "^\.ht">
	Require all denied
</FilesMatch>
<IfModule mod_fcgid.c>
        # Fcgi timeout should be equal to php max_execution_time
        FcgidIOTimeout {{ PHP_MAX_EXEC_TIME }}
</IfModule>
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%a %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%a %l %u %t \"%r\" %>s %O" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
CustomLog {{ APACHE_LOG_PATH|default("/dev/stdout") }} vhost_combined
IncludeOptional conf-enabled/*.conf
IncludeOptional sites-enabled/*.conf
{%- if APACHE_HTTP_FORWARDED_PROTO is defined %}
SetEnvIfNoCase x-forwarded-proto https HTTPS=on REQUEST_SCHEME=https SERVER_PORT=443
{%- endif %}
{% if 'true' in APACHE_ENABLE_CSP %}
Header set Content-Security-Policy "{{ APACHE_CSP_HEADER }}"
{% endif %}
{% if 'true' in APACHE_ENABLE_HSTS %}
Header set Strict-Transport-Security "max-age={{ APACHE_HSTS_MAXAGE }}"
{% endif %}
{% if APACHE_ENABLE_CORS is defined and 'true' in APACHE_ENABLE_CORS %}
Header set Access-Control-Allow-Origin {{ APACHE_CORS_ORIGIN|default("*") }}
{% endif %}
ServerSignature Off
ServerTokens Prod

